#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/runtime-sensor-rotate.dtsi>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

// OS設定を日本語キーボードのまま使用するための変換定義
#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

/******************************************
左手側                                                    右手側
┌──────┬──────┬──────┬──────┬──────┬──────┐    ┌──────┬──────┬──────┬──────┬──────┬──────┐
│   0  │   1  │   2  │   3  │   4  │      │    │      │   5  │   6  │   7  │   8  │   9  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│  10  │  11  │  12  │  13  │  14  │      │    │      │  15  │  16  │  17  │  18  │  19  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│  20  │  21  │  22  │  23  │  24  │      │    │      │  25  │  26  │  27  │  28  │  29  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│  30  │  31  │  32  │  33  │  34  │  35  │    │  36  │  37  │  38  │  39  │  40  │  41  │
└──────┴──────┼──────┬──────┬──────┼──────┘    └──────┼──────┬──────┬──────┼──────┴──────┘
              │  42  │  43  │  44  │                  │  45  │  46  │  47  │
              └──────┴──────┴──────┘                  └──────┴──────┴──────┘
******************************************/

&mt {
    flavor = "tap-preferred";
    require-prior-idle-ms = <200>;
    quick-tap-ms = <300>;
};

&lt {
    flavor = "balanced";
    require-prior-idle-ms = <200>;
    quick-tap-ms = <300>;
};

// マウスキー押下後のAML残留時間設定
//&mkp_input_listener {
//    input-processors = <&zip_temp_layer 4 250>;
//};

/ {
    combos {
        compatible = "zmk,combos";

        combo_lc_pgup {
            timeout-ms = <50>;
            key-positions = <34 35>;
            bindings = <&lt 5 LC(PAGE_UP)>;
        };

        combo_lc_pgdn {
            timeout-ms = <50>;
            key-positions = <36 37>;
            bindings = <&kp LC(PAGE_DOWN)>;
        };

        combo_lclk {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&mkp LCLK>;
        };

        combo_rclk {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&mkp RCLK>;
        };

        combo_mclk {
            bindings = <&mkp MCLK>;
            key-positions = <16 18>;
        };

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 10>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <10 20>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
				};
				encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MSC_DOWN_UP";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>;
        };
				swapper: swapper {
            compatible = "zmk,behavior-smart-toggle";
            #binding-cells = <0>;
            bindings = <&kp LALT>, <&kp TAB>;
            ignored-key-positions = <11>;
        };
    };




    keymap {
        compatible = "zmk,keymap";

        default_layer {
/***************
左手側                                                    右手側
┌──────┬──────┬──────┬──────┬──────┬──────┐    ┌──────┬──────┬──────┬──────┬──────┬──────┐
│   q  │   w  │   e  │   r  │   t  │      │    │      │   y  │   u  │   i  │   o  │   p  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│   a  │   s  │   d  │   f  │   g  │      │    │      │   h  │   j  │   k  │   l  │   -  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│   z  │   x  │   c  │   v  │   b  │      │    │      │   n  │   m  │   ,  │   .  │   /  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│ ctrl │  win │  alt │      │  sp  │ cpas │    │  bs  │  ent │      │      │      │  esc │
└──────┴──────┼──────┬──────┬──────┼──────┘    └──────┼──────┬──────┬──────┼──────┴──────┘
              │      │      │      │                  │      │      │      │
              └──────┴──────┴──────┘                  └──────┴──────┴──────┘
***************/
            bindings = <
&mt ESCAPE Q      &kp W             &lt 5 E       &kp R           &lt 6 T                                        &kp Y        &kp U            &lt 5 I          &kp O                   &lt 6 P
&kp A             &kp S             &kp D         &kp F           &kp G                                          &kp H        &kp J            &kp K            &kp L                   &kp MINUS
&mt LEFT_SHIFT Z  &mt LEFT_SHIFT X  &mt LCTRL C   &mt LEFT_ALT V  &kp B                                          &kp N        &mt RIGHT_ALT M  &mt RCTRL COMMA  &mt RIGHT_SHIFT PERIOD  &mt JP_YEN SLASH
&kp LCTRL         &mt LEFT_WIN TAB  &kp LEFT_ALT  &trans          &lt 4 SPACE  &lt 2 CAPS      &lt 5 BACKSPACE  &lt 1 ENTER  &trans           &trans           &trans                  &mt JP_TILDE ESCAPE
&trans &trans &trans &trans &trans &trans
            >;

            // sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
						sensor-bindings = <&encoder_msc_down_up>;

        };

        SYMBOL {
/***************
左手側                                                    右手側
┌──────┬──────┬──────┬──────┬──────┬──────┐    ┌──────┬──────┬──────┬──────┬──────┬──────┐
│  f1  │  f2  │  f3  │  f4  │  f5  │      │    │      │  f6  │  f7  │  f8  │  f9  │  f10 │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│   !  │   @  │   #  │   $  │   %  │      │    │      │   ^  │   &  │   *  │   (  │   )  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│  c+z │  c+x │  c+c │  c+v │  c+b │      │    │      │   _  │   -  │   +  │   :  │   '  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│ ctrl │  win │  alt │ c+pu │ c+hm │ c+pd │    │      │      │      │      │      │   |  │
└──────┴──────┼──────┬──────┬──────┼──────┘    └──────┼──────┬──────┬──────┼──────┴──────┘
              │      │      │      │                  │      │      │      │
              └──────┴──────┴──────┘                  └──────┴──────┴──────┘
***************/
            bindings = <
&kp F1                   &kp F2        &kp F3        &kp LA(F4)       &kp F5                                               &kp F6             &kp F7            &kp F8           &kp F9                   &kp F10
&kp EXCLAMATION          &kp JP_AT     &kp HASH      &kp DOLLAR       &kp PERCENT                                          &kp JP_CARET       &kp JP_AMPERSAND  &kp JP_ASTERISK  &kp JP_LPAREN            &kp JP_RPAREN
&mt LEFT_SHIFT LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)        &kp LC(B)                                            &kp JP_UNDERSCORE  &kp MINUS         &kp JP_PLUS      &mt SEMICOLON JP_COLON   &kp JP_QUOTE
&kp LCTRL                &kp LEFT_WIN  &kp LEFT_ALT  &kp LC(PAGE_UP)  &mt LC(END) LC(HOME)  &kp LC(PAGE_DOWN)      &trans  &trans             &trans            &trans           &trans                   &kp JP_PIPE
&trans &trans &trans &trans &trans &trans
            >;
        };

        NUM {
/***************
左手側                                                    右手側
┌──────┬──────┬──────┬──────┬──────┬──────┐    ┌──────┬──────┬──────┬──────┬──────┬──────┐
│      │      │      │      │   [  │      │    │      │   ]  │   7  │   8  │   9  │   =  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│      │      │      │      │   (  │      │    │      │   )  │   4  │   5  │   6  │   *  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│      │      │      │      │   ~  │      │    │      │   0  │   1  │   2  │   3  │   /  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│      │      │      │      │      │      │    │   -  │   +  │      │      │      │   ,  │
└──────┴──────┼──────┬──────┬──────┼──────┘    └──────┼──────┬──────┬──────┼──────┴──────┘
              │      │      │      │                  │      │      │      │
              └──────┴──────┴──────┘                  └──────┴──────┴──────┘
***************/
            bindings = <
&trans  &trans  &trans   &trans   &kp JP_LBRACKET              &kp JP_RBRACKET  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &mt JP_COLON JP_EQUAL
&trans  &trans  &trans   &trans   &kp JP_LPAREN                &kp JP_RPAREN    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp JP_ASTERISK
&trans  &trans  &trans   &trans   &kp JP_TILDE                 &kp NUMBER_0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH
&trans  &trans  &trans   &trans   &trans   &trans      &kp MINUS  &kp JP_PLUS   &trans        &trans        &trans        &mt PERIOD COMMA
&trans &trans &trans &trans &trans &trans
            >;
        };

        ARROW {

            bindings = <
&kp ESCAPE      &mkp MB4                &kp UP_ARROW    &mkp MB5                 &trans                       &kp LG(LEFT_ARROW)          &kp LA(LEFT_ARROW)      &kp UP_ARROW    &kp RA(RIGHT_ARROW)      &kp RG(RIGHT_ARROW)
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END                      &kp LC(LS(TAB))             &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp RC(TAB)
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans                       &kp LA(LG(LC(LEFT_ARROW)))  &kp LA(LG(LEFT_ARROW))  &kp LA(LG(F))   &kp RG(RA(RIGHT_ARROW))  &kp RA(RC(RG(RIGHT_ARROW)))
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &kp BACKSPACE               &trans                  &trans          &trans                   &trans
&trans &trans &trans &trans &trans &trans
            >;

            // sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
/***************
左手側                                                    右手側
┌──────┬──────┬──────┬──────┬──────┬──────┐    ┌──────┬──────┬──────┬──────┬──────┬──────┐
│   q  │   w  │   e  │   r  │   t  │      │    │      │   y  │   u  │  l6  │   o  │   p  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│   a  │ s+tab│   d  │  swp │   g  │      │    │      │   h  │  mb1 │   ↑  │  mb2 │   -  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│   z  │   x  │   c  │   v  │   b  │      │    │      │   n  │   ←  │   ↓  │   →  │   /  │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│ ctrl │  win │  alt │      │      │      │    │  bs  │  ent │      │      │      │  esc │
└──────┴──────┼──────┬──────┬──────┼──────┘    └──────┼──────┬──────┬──────┼──────┴──────┘
              │      │      │      │                  │      │      │      │
              └──────┴──────┴──────┘                  └──────┴──────┴──────┘
***************/
            bindings = <
&mt ESCAPE Q      &kp W             &lt 5 E       &kp R               &lt 6 T                                  &kp Y       &kp U            &lt 5 I         &kp O            &kp DELETE
&kp A             &kp LS(TAB)       &mt LCTRL D   &swapper            &kp G                                    &kp H       &mkp MB1         &kp UP_ARROW    &mkp MB2         &kp MINUS
&mt LEFT_SHIFT Z  &kp X             &kp C         &kp V               &kp B                                    &kp N       &kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &mt JP_YEN SLASH
&kp LCTRL         &mt LEFT_WIN TAB  &kp LEFT_ALT  &trans              &trans   &trans           &kp BACKSPACE  &lt 1 ENTER &trans           &trans          &trans           &mt JP_TILDE ESCAPE
&trans &trans &trans &trans &trans &trans
            >;
        };

        SCROLL {
            bindings = <
&trans     &trans              &trans              &trans               &trans                                        &trans            &trans          &trans          &trans           &trans
&trans     &trans              &kp LG(UP_ARROW)    &trans               &trans                                        &trans            &trans          &kp UP_ARROW    &trans           &trans
&trans     &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT_ARROW)  &trans                                        &trans            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LCTRL
&kp LCTRL  &kp LCTRL           &trans              &kp LS(LG(S))        &kp LG(D)  &kp LA(LC(DEL))   &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN) &trans          &trans          &trans           &trans
&trans &trans &trans &trans &trans &trans
            >;
        };

        CONFIG {
/***************
左手側                                                    右手側
┌──────┬──────┬──────┬──────┬──────┬──────┐    ┌──────┬──────┬──────┬──────┬──────┬──────┐
│cl_all│  clr │      │      │      │      │    │      │      │      │      │      │      │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│      │      │      │      │ boot │      │    │      │      │      │      │      │ boot │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│  bt0 │  bt1 │  bt2 │  bt3 │  bt4 │      │    │      │      │      │      │      │      │
├──────┼──────┼──────┼──────┼──────┼──────┤    ├──────┼──────┼──────┼──────┼──────┼──────┤
│      │      │      │      │      │      │    │      │      │      │      │      │      │
└──────┴──────┼──────┬──────┬──────┼──────┘    └──────┼──────┬──────┬──────┼──────┴──────┘
              │      │      │      │                  │      │      │      │
              └──────┴──────┴──────┘                  └──────┴──────┴──────┘
***************/
            bindings = <
&bt BT_CLR_ALL  &bt BT_CLR    &trans        &trans        &trans                            &trans  &trans  &trans  &trans       &trans
&trans          &trans        &trans        &trans        &bootloader                       &trans  &trans  &trans  &trans       &bootloader
&bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                      &trans  &trans  &trans  &trans       &trans
&trans          &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans  &trans  &trans       &trans
&trans &trans &trans &trans &trans &trans
            >;
        };
    };
};



/**************** 以下元の内容
&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

&lt {
    quick-tap-ms = <300>;
};


/ {
    macros {
        emoji: emoji_macro {
            compatible = "zmk,behavior-macro";
            label = "EMOJI";
            #binding-cells = <0>;
            bindings = 
                <&macro_press &kp CAPSLOCK>,
                <&macro_tap &kp E>,
                <&macro_release &kp CAPSLOCK>;
        };
    };

    behaviors {
        encoder_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        rsr_scrl: rsr_scrl {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            cw-binding = <&msc SCRL_DOWN>;
            ccw-binding = <&msc SCRL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
                &kp Q            &kp W              &kp E                 &kp R                   &kp T                                                  &kp Y          &kp U            &kp I              &kp O               &kp P
                &kp A            &mt LALT S         &mt LSHIFT D          &mt LGUI F              &mt LCTRL G                                            &mt RCTRL H    &mt RGUI J       &mt RSHIFT K       &mt RALT L          &lt 3 SEMICOLON
                &kp Z            &kp X              &kp C                 &kp V                   &kp B                                                  &kp N          &kp M            &kp COMMA          &kp DOT             &kp SLASH
                &lt 4 DELETE     &tog 1             &lt 1 TAB             &msc SCRL_UP            &lt 2 SPACE       &lt 3 ESC           &lt 3 BACKSPACE  &lt 2 ENTER    &msc SCRL_UP     &kp F7             &kp F10             &lt 4 F12 
                                                    &msc SCRL_LEFT        &msc SCRL_DOWN          &msc SCRL_RIGHT                                        &msc SCRL_LEFT &msc SCRL_DOWN   &msc SCRL_RIGHT
            >;
            sensor-bindings = <&rsr_scrl &rsr_scrl>;
        };

        layer_1 {
            display-name = "Mouse Layer";
            bindings = <
                &trans           &trans             &trans                &trans                  &trans                                                 &kp SPACE      &kp RG(LEFT)     &kp RG(RIGHT)      &mkp MB3            &trans
                &mkp MB5         &trans             &trans                &trans                  &trans                                                 &kp LG(UP)     &mkp MB1         &mkp MB2           &msc SCRL_UP        &msc SCRL_DOWN
                &mkp MB4         &trans             &trans                &trans                  &trans                                                 &kp LG(DOWN)   &kp LEFT         &kp UP             &kp RIGHT           &trans
                &trans           &trans             &trans                &trans                  &trans            &trans              &trans           &trans         &trans           &kp DOWN           &trans              &kp LG(W)
                                                    &trans                &trans                  &trans                                                 &trans         &trans           &trans
            >;
        };

        layer_2 {
            display-name = "Number Layer";
            bindings = <
                &trans           &kp NUMBER_7       &kp NUMBER_8          &kp NUMBER_9            &kp EQUAL                                              &kp F1         &kp F2           &kp F7             &kp F10             &kp RSHIFT
                &kp ASTERISK     &mt LALT NUMBER_4  &mt LSHIFT NUMBER_5   &mt LGUI NUMBER_6       &mt LCTRL MINUS                                        &mkp MB1       &kp LEFT         &kp UP             &kp RIGHT           &kp RGUI
                &kp SLASH        &kp NUMBER_1       &kp NUMBER_2          &kp NUMBER_3            &kp PLUS                                               &mkp MB2       &none            &kp DOWN           &none               &kp RALT
                &trans           &kp DOT            &kp NUMBER_0          &kp UP                  &kp LANG2         &trans              &trans           &kp LANG1      &kp UP           &kp RS(RC(TAB))    &kp RC(TAB)         &kp F12 
                                                    &kp LEFT              &kp DOWN                &kp RIGHT                                              &kp LEFT       &kp DOWN         &kp RIGHT
            >;
            sensor-bindings = <&encoder_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            display-name = "Mark Layer";
            bindings = <
                &kp LS(LG(N4))   &kp F4             &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS   &none                                                  &kp TILDE      &kp EXCLAMATION  &kp AT_SIGN        &kp HASH            &kp DOLLAR
                &emoji           &kp F5             &kp LEFT_BRACKET      &kp RIGHT_BRACKET       &none                                                  &kp GRAVE      &kp UNDER        &kp SINGLE_QUOTE   &kp DOUBLE_QUOTES   &kp BACKSLASH
                &kp KP_NUMLOCK   &kp F11            &kp LEFT_BRACE        &kp RIGHT_BRACE         &none                                                  &kp PIPE       &kp PERCENT      &kp CARET          &kp AMPERSAND       &kp ASTERISK
                &trans           &trans             &kp NUMBER_0          &trans                  &kp SPACE         &trans              &trans           &kp ENTER      &trans           &none              &none               &kp F12 
                                                    &trans                &trans                  &trans                                                 &trans         &trans           &trans
            >;
        };

        layer_4 {
            display-name = "Device Layer";
            bindings = <
                &none            &none              &none                 &none                   &bt BT_CLR                                             &bt BT_SEL 0   &bt BT_SEL 1     &bt BT_SEL 2       &bt BT_SEL 3        &bt BT_SEL 4
                &none            &none              &none                 &none                   &none                                                  &none          &none            &none              &none               &none
                &sys_reset       &none              &none                 &none                   &none                                                  &none          &none            &none              &none               &sys_reset
                &bootloader      &bt BT_CLR_ALL     &none                 &none                   &none             &none               &studio_unlock   &none          &none            &none              &none               &bootloader
                                                    &trans                &trans                  &trans                                                 &trans         &trans           &trans
            >;
        };

        layer_5 {
            status = "reserved";
            display-name = "Brank Layer";
            bindings = <
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans            &trans              &trans           &trans       &trans           &trans             &trans              &trans
                                                    &trans                &trans                  &trans                                                 &trans       &trans           &trans
            >;
        };

        layer_6 {
            status = "reserved";
            display-name = "Brank Layer";
            bindings = <
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans            &trans              &trans           &trans       &trans           &trans             &trans              &trans
                                                    &trans                &trans                  &trans                                                 &trans       &trans           &trans
            >;
        };

        layer_7 {
            status = "reserved";
            display-name = "Brank Layer";
            bindings = <
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans                                                 &trans       &trans           &trans             &trans              &trans
                &trans           &trans             &trans                &trans                  &trans            &trans              &trans           &trans       &trans           &trans             &trans              &trans
                                                    &trans                &trans                  &trans                                                 &trans       &trans           &trans
            >;
        };
    };

};
**********************************************/
